<% include partials/header %>

<div class="text-center">
<h1>This is Landing Page</h1>
<div>
<a href="/campgrounds" class="btn btn-primary text-capitalize full-width p-y-m" data-reactid="93">Go to Campground Page</a>    
</div>
</div>
 <% include partials/footer %>
